<div class="card card-event-promo p-4 w-100 rounded-4 h-100 d-flex flex-column justify-content-end"
    style="background-image: url('asset/banner/pasar.png');">
    <div class="d-flex align-items-end justify-content-between w-100">
        <span class="discount-label">DISKON</span>
        <div class="d-flex align-items-center text-end">
            <div class="d-flex flex-column">
                <span class="lh-1">UP<br>TO</span>
            </div>
            <span class="number-discount fw-bold lh-1">80</span>
            <div class="d-flex flex-column">
                <span class="percent-discount fw-bold lh-1">%</span>
                <span class="lh-1">OFF</span>
            </div>
        </div>
    </div>
</div>