<!-- footer -->
<footer class="container-fluid bg-dark text-white py-4">
    <div class="container w-100 py-4 px-4 gy-4">
        <div class="row w-100 gy-4">
            <div class="col-12 col-sm-3 col-md-2 px-5 d-flex flex-column">
                <img src="asset/Logo PasarKulo/logo type 2.png" alt="logo" class="logo-footer mb-3">
                <div class="d-flex gap-2 justify-content-center">
                    <a href="#" class="text-white text-decoration-none"><img src="asset/button img/twitter - white.png"
                            alt="twitter"></a>
                    <a href="#" class="text-white text-decoration-none"><img
                            src="asset/button img/instagram - white.png" alt="instagram"></a>
                    <a href="#" class="text-white text-decoration-none"><img src="asset/button img/facebook - white.png"
                            alt="facebook"></a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 px-5 d-flex flex-column gap-3">
                <h5 class="fs-6">PasarKulo Yogyakarta</h5>
                <ul class="list-unstyled mb-0 d-flex flex-column gap-2">
                    <li><a href="index.html" class="text-white text-decoration-none small fw-light">Halaman Utama
                            PasarKulo</a></li>
                    <li><a href="marketplace.html" class="text-white text-decoration-none small fw-light">Marketplace
                            PasarKulo</a></li>
                    <li><a href="login.html" class="text-white text-decoration-none small fw-light">Login &
                            Register</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-4 px-5 d-flex flex-column gap-3">
                <h5 class="fs-6">Lainnya</h5>
                <ul class="list-unstyled mb-0 d-flex flex-column gap-2">
                    <li><a href="#" class="text-white text-decoration-none small fw-light">PT PASARKULO
                            YOGYAKARTA</a></li>
                    <li><a href="Lainnya.html" class="text-white text-decoration-none small fw-light">Bantuan</a>
                    </li>
                    <li><a href="Lainnya.html" class="text-white text-decoration-none small fw-light">Kontak
                            Kami</a></li>
                    <li><a href="Lainnya.html" class="text-white text-decoration-none small fw-light">Syarat &
                            Ketentuan</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-md-2 d-flex flex-column gap-2">
                <h5 class="fs-6">Unduh Aplikasi</h5>
                <a href="#" class="d-block w-100"><img src="asset/button img/button - google play.png"
                        alt="Get it on Google Play" style="width: 150px; height: auto;"></a>
                <a href="#" class="d-block w-100"><img src="asset/button img/button - app store.png"
                        alt="Download on the App Store" style="width: 150px; height: auto;"></a>
            </div>
        </div>
    </div>
    <div class="text-center pt-2 mt-2 border-top opacity-50">
        <p class="mb-0 small">&copy; 2025 PasarKulo Yogyakarta. All Rights Reserved.</p>
    </div>
</footer>