<!-- Navigasi Pendukung Marketplace -->
<nav id="navbar-pendukung" class="navbar navbar-expand-lg border-2 border-bottom py-2 w-100">
    <div class="navbar-nav d-flex flex-row flex-wrap gap-3">
        <a href="marketplace.html" class="btn btn-link btn-selanjutnya">Home</a>
        <a href="page-pasar.html" class="btn btn-link btn-selanjutnya">Pasar</a>
        <a href="page-toko.html" class="btn btn-link btn-selanjutnya">Toko</a>
        <a href="page-kategori.html" class="btn btn-link btn-selanjutnya">Kategori</a>
        <a href="page-produk.html" class="btn btn-link btn-selanjutnya">Produk</a>
        <!-- <a href="page-berita-&-event.html" class="btn btn-link btn-selanjutnya">Berita & Event</a> -->
    </div>
</nav>